{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='assets/css/blue/responsive/minified/chat_min.css'
        'bundles/airsimsocialnetwork/css/blue/responsive/chat/chat_1920.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock pageStylesheets %}

{% block pageJavaScripts %}
    {#<script type="text/javascript">require(['blue/chat'])</script>#}
{% endblock pageJavaScripts %}

{% block pageContent %}
    <div class = "available_chats_wrapper">
        <div class = "available_chats_content">
            <section class = "available_chats">
                <div class="available_chats_toolbar">
                    <input type = "button" class = "submit_button" value = "Create chat"/>
                    <input type = "button" class = "submit_button right_button" value = "Delete chats"/>
                </div>
                <ul>
                    {% for chat in availableChats %}
                        <a href = "chat_room/{{ chat.chatId }}">
                            <li>
                                {#<div class = "toolbar">#}
                                    {#<input type = "button" class = "chat_delete_button"/>#}
                                {#</div>#}
                                {% if chat.contactData.webProfilePic %}
                                    <img src = "{{ ('public_files/user_'~chat.contactData.userId~'/albums/profile_pics/'~chat.contactData.webProfilePic) | apply_filter('avatar') }}" class = "author_pic"/>
                                {% else %}
                                    <img src = "{{ ('public_files/app_default/no_avatar_male.png') | apply_filter('avatar') }}" class = "author_pic"/>
                                {% endif %}
                                <span class = "author">{{ chat.contactData.name }} {{ chat.contactData.family }}</span><br/><br/>
                                <span class = "date_time">{{ chat.messageSentTime }}</span><br/>
                                <span class = "message">{{ chat.chatLastMessage }}</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
                <div class = "clear"></div>
            </section>
        </div>
    </div>
{% endblock pageContent %}