{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='assets/css/blue/responsive/minified/chat_min.css'
        'bundles/airsimsocialnetwork/css/blue/responsive/chat/chat_1920.css'
        'bundles/airsimsocialnetwork/css/plugins/formstone/jquery.fs.scroller.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock pageStylesheets %}

{% block pageJavaScripts %}
    <script type="text/javascript">require(['blue/chat_room'])</script>
{% endblock pageJavaScripts %}

{% block pageContent %}
    <div class = "chat_room_wrapper">
        <input type = "hidden" id = "user_id" value = "{{ app.session.get('sessionData')['userInfo']['id'] }}"/>
        <div class = "chat_room">
            <section class = "chat">
                <input type = "hidden" id = "chat_id" value = "{{ chatId }}"/>
                <div class = "chat_operations">
                    <input type = "button" class = "selected_messages_delete" value = ""/>
                    <input type = "button" class = "favorite_messages" value = ""/>
                    <input type = "text" class = "chat_search" id = "chat_search" placeholder = "Search message ..."/>
                </div>
                <div class = "chat_participant_one">
                    {% if app.session.get('sessionData')['userInfo']['webPic'] %}
                        <img class = "ava" src = "{{ ('public_files/user_'~app.session.get('sessionData')['userInfo']['id']~
                        '/albums/profile_pics/'~app.session.get('sessionData')['userInfo']['webPic']) | apply_filter('avatar') }}"/>
                    {% else %}
                        <img src = "{{  asset('public_files/app_default/no_avatar_male.png') }}" class = "ava"/>
                    {% endif %}
                    <div class = "participant_info">
                        {{ app.session.get('sessionData')['userInfo']['firstName'] }}<br/>
                        {{ app.session.get('sessionData')['userInfo']['lastName'] }}
                    </div>
                </div>
                <div class = "chat_participant_two">
                    {% if participantInfo.webProfilePic %}
                        <img class = "ava" src = "{{ ('public_files/user_'~participantInfo.userId~
                        '/albums/profile_pics/'~participantInfo.webProfilePic) | apply_filter('avatar') }}"/>
                    {% else %}
                        <img src = "{{  asset('public_files/app_default/no_avatar_male.png') }}" class = "ava"/>
                    {% endif %}
                    <div class = "participant_info">
                        {{ participantInfo.name }}<br/>
                        {{ participantInfo.family }}
                    </div>
                    <input type = "hidden" id = "participant_id" value = "{{ participantInfo.userId }}"/>
                </div>
                <div class = "chat_messages" id = "chat_messages_container">
                    {% for message in chatMessages %}
                        {% if userPrivileges.userId == message.authorId %}
                            <div class = "message_participant_two">
                                <span class = "message_date_time_two">{{ message.messageDateTimeSent }}</span>
                                <span class = "message_text">
                                    {{ message.messageText }}
                                </span>
                                <input type = "hidden" class = "message_id" value = "{{ message.messageId }}"/>
                                <div class = "clear"></div>
                            </div>
                        {% else %}
                            <div class = "message_participant_one">
                                <span class = "message_date_time_one">{{ message.messageDateTimeSent }}</span>
                                <span class = "message_text">
                                    {{ message.messageText }}
                                </span>
                                <input type = "button" class = "delete_message_icon" value = ""/>
                                <input type = "checkbox" class = "message_select" id = "m_{{ message.messageId }}" unchecked/>
                                <label for = "m_{{ message.messageId }}"><span></span></label>
                                <input type = "hidden" class = "message_id" value = "{{ message.messageId }}"/>
                                <div class = "clear"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class = "clear"></div>
                </div>
                <div class = "chat_message_input_wrapper">
                    <textarea class = "area_text" id = "chat_message_textarea" placeholder = "Message ... "></textarea>
                    <input type = "button" class = "submit_button right" id = "send_chat_message" value = "Send"/>
                    <div class = "clear"></div>
                </div>
            </section>
            <section class = "chat_rooms">
                <ul id = "chat_rooms">
                    {% for chat in availableChats %}
                        <a href = "{{ chat.chatId }}">
                            <li>
                                {#<input type = "button" class = "chatDeleteButton small"/>#}
                                {% if chat.contactData.webProfilePic %}
                                    <img src = "{{ ('public_files/user_'~chat.contactData.userId~'/albums/profile_pics/'~chat.contactData.webProfilePic) | apply_filter('avatar') }}" class = "author_pic"/>
                                {% else %}
                                    <img src = "{{ ('public_files/app_default/no_avatar_male.png') | apply_filter('avatar') }}" class = "author_pic"/>
                                {% endif %}
                                <span class = "author">{{ chat.contactData.name }} {{ chat.contactData.family }}</span><br/><br/>
                                <span class = "date_time">{{ chat.messageSentTime }}</span><br/>
                                <span class = "message">{{ chat.chatLastMessage }}</span>
                                <input type = "hidden" class = "chat_room_id" value = "{{ chat.chatId  }}"/>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </section>
            <div class = "clear"></div>
        </div>
    </div>
{% endblock pageContent %}