<!DOCTYPE html>
    <head xmlns="http://www.w3.org/1999/html">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        {# Stylesheets #}
        {% block globalStylesheets %}
            {# Fonts #}
            <link href = "{{ asset('assets/css/blue/fonts.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
            {# End Of Fonts #}
            <link href = "{{ asset('assets/css/blue/common.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
            <link href = "{{ asset('assets/css/blue/forms.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
            <link href = "{{ asset('assets/css/blue/layout_inner.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
            <link href = "{{ asset('assets/css/blue/dialog.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
            <link href = "{{ asset('assets/css/blue/gallery.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        {% endblock %}

        {% block pageStylesheets %}
        {% endblock pageStylesheets %}
        {# End Of Stylesheets #}

        {# JavaScripts #}
        {% block globalJavaScripts %}
            <script type = "text/javascript" src = "{{ asset('assets/plugins/jquery-1.11.1.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/plugins/jquery-form.js') }}"></script>
            <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/dialog.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/inner.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/common_functions.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/error_handling_functions.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/constants.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/common.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/gallery.js') }}"></script>
            <script type = "text/javascript" src = "{{ asset('assets/js/blue/notification.js') }}"></script>
        {% endblock %}

        {% block pageJavaScripts %}
        {% endblock pageJavaScripts %}
        {# End Of JavaScripts #}
    </head>
    <body>
        <div class = "wrapper">
            <input type = "hidden" id = "logged_in_user_id" value = "{{ app.session.get('sessionData')['userInfo']['id'] }}"/>
            <header class = "header">
                <div class = "header_content">
                    <div class = "logo_text">AIRSIM</div>
                    <div class = "top_nav">
                        <div class = "user_top_data">
                            <img class = "user_ava" src = "{{ asset('public_files/app_default/no_avatar_male.png') }}"/>
                            <div class = "logged">
                                You are logged in as<br/>
                                    <span class = "user">
                                        Bob Marley
                                    </span>
                            </div>
                        </div>
                        <ul class = "top_nav_menu">
                            <li><a href = "./../user/">Home page</a></li>
                            <li><a href = "./../contacts/all_friends">Friends</a></li>
                            <li><a href = "./../chat/available_chats">Messages</a></li>
                            <li><a id = "log_out">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <section class = "content inner" id = "content_inner">
                <div class = "content_left">
                    <nav class = "menu">
                        <ul>
                            <li>
                                <span class = "menu_icon home"></span>
                                Homepage
                            </li>
                            <li>
                                <span class = "menu_icon friends"></span>
                                Friends
                            </li>
                            <li class = "selected">
                                <span class = "menu_icon messages"></span>
                                Messages
                            </li>
                            <li>
                                <span class = "menu_icon photos"></span>
                                Photos
                            </li>
                            <li>
                                <span class = "menu_icon map"></span>
                                Map
                            </li>
                            <li>
                                <span class = "menu_icon news"></span>
                                News
                            </li>
                            <li>
                                <span class = "menu_icon options"></span>
                                Options
                            </li>
                            <li>
                                <span class = "menu_icon advanced"></span>
                                Advanced
                            </li>
                            <li>
                                <span class = "menu_icon safe"></span>
                                Safe
                            </li>
                            <li>
                                <span class = "menu_icon favorites"></span>
                                Favorites
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class = "content_right">
                    {# Unique Page Content #}
                    {% block pageContent %}
                    {% endblock %}
                    {# End Of Unique Page Content #}
                </div>

                {# Notification Box #}
                <div class = "notifications_wrapper">
                    <audio controls id = "notification_sound">
                        <source src = "{{ asset('assets/sounds/beep-24.mp3') }}">
                    </audio>
                    <li class = "notification_box hidden" id = "notification_box_template">
                        <div class = "notification_header">
                            <span class = "notification_icon"></span>
                            <span class = "notification_header_text">Notification System!</span>
                            <input type = "button" class = "notification_close"/>
                        </div>
                        <div class = "notification_content">
                            <div class = "notification_picture_holder">
                                <img src = "{{ asset('public_files/app_default/no_avatar_male.png') }}" class = "sender_pic"/>
                            </div>
                            <div class = "notification_text">
                                <div class = "notification_info">
                                </div>
                                <div class = "notification_message">
                                </div>
                                <div class = "clear"></div>
                            </div>
                        </div>
                        <div class = "clear"></div>
                    </li>
                    <ul></ul>
                </div>
                {# End Of Notification Box #}

                <!-- ********** Dialog Windows ********** -->

                <!-- Gallery -->
                <div id = "gallery" class = "dialog scale">
                    <div class = "dialog_title">Photo</div>
                    <div id = "dialog_close" class = "dialog_close">x</div>
                    <span id = "dialog_arrow" class = "dialog_close_tooltip">
                        Press esc to exit
                        <span id = "dialog_arrow" class = "dialog_arrow"></span>
                    </span>
                    <div class = "dialog_content">
                        <div class = "photo_container">
                            <img src = "{{ asset('public_files/app_default/social_graph.png') }}" class = "photo_to_show"/>
                            <div class = "previous_photo">
                                <input type = "hidden" id = "previous_photo_id" value = "" />
                            </div>
                            <div class = "next_photo">
                                <input type = "hidden" id = "next_photo_id" value = "" />
                            </div>
                            <div class = "photo_description">Social graph</div>
                            <div class = "description_button">Show description</div>
                        </div>
                        <div class = "photo_info_wrapper">
                            <span class = "photo_block_title">Photo Info:</span><br/><br/>
                            <div class = "photo_info">
                                <div class = "photo_info_line">
                                    <div class = "photo_info_cell info_title album_title">Album:</div>
                                    <div class = "photo_info_cell" id = "album_title"></div>
                                    <div class = "photo_info_cell info_title date_added_title">Date added:</div>
                                    <div class = "photo_info_cell" id = "photo_date_added"></div>
                                </div>
                                <div class = "photo_info_line">
                                    <div class = "photo_info_cell info_title photo_title">Title:</div>
                                    <div class = "photo_info_cell" id = "photo_title"></div>
                                    <div class = "photo_info_cell info_title location_title">Location:</div>
                                    <div class = "photo_info_cell" id = "photo_location"></div>
                                </div>
                                <input type = "hidden" id = "photo_id" value = ""/>
                            </div>
                            <div class = "photo_rating">
                                <div class = "photo_rating_numbers">
                                    <span class = "photo_rating_out">8/</span>
                                    <span class = "photo_rating_of">10</span>
                                </div>
                                <div class = "photo_rating_stars"></div>
                            </div>
                        </div><div class = "clear"></div>
                        <div class = "insert_comment">
                            <span class = "photo_block_title">Your Comment:</span><br/><br/>
                            <textarea placeholder = "Thoughts?"></textarea>
                            <input type = "button" class = "right" id = "comment_photo_button" value = "Comment photo"/>
                        </div><div class = "clear"></div>
                        <div class = "photo_comments_wrapper">
                            <span class = "photo_block_title">Comments:</span><br/><br/>
                            <div class = "photo_comments_holder">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Of Gallery -->

                <!-- Error Dialog -->
                <div id = "error_message_dialog" class = "error_message_dialog">
                    <div class = "error_message_dialog_title">
                        <span id = "error_message_dialog_title_text">Error</span>
                        <div id = "error_message_dialog_close" class = "error_message_dialog_close">x</div>
                    </div>
                            <span id = "error_message_dialog_close_tooltip" class = "error_message_dialog_close_tooltip">
                                Press Esc to exit
                                <span id = "error_message_dialog_arrow" class = "error_message_dialog_arrow"></span>
                            </span>
                    <div class = "error_message_dialog_content" id = "error_message_dialog_content">
                        Response text
                    </div>
                </div>
                <!-- End Of Error Dialog -->

                <div class = "dialog_background" id = "dialog_background"></div>
                <!-- ********** End Of Dialog Windows ********** -->

                <div class = "clear"></div>
            </section>
            <div class = "push"></div>
        </div>
        <footer class = "footer">
        </footer>
    </body>
</html>