{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns ="http://www.w3.org/1999/xhtml">
    <head xmlns="http://www.w3.org/1999/html">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        {# Stylesheets #}
        {% block globalStylesheets %}
        {# Fonts #}
        {#<link href = "{{ asset('assets/css/blue/fonts.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />#}
        {# End Of Fonts #}
        {#<link href = "{{ asset('assets/css/blue/common.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/forms.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/tabs.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/layout_inner.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/dialog.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/gallery.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/selectric.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/map.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href = "{{ asset('assets/css/blue/jquery.qtip.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
        <link href="{{ asset('assets/js/plugins/formstone/components/scroller/jquery.fs.scroller.css') }}" rel="stylesheet">#}

        {#{% stylesheets filter='yui_css' filter='cssrewrite' output='assets/css/responsive/minified/layout_inner_min.css'
        'assets/css/blue/fonts.css'
        'assets/css/blue/responsive/common/common_1920.css'
        'assets/css/blue/responsive/forms/forms_1920.css'
        'assets/css/blue/responsive/tabs/tabs_1920.css'
        'assets/css/blue/responsive/layout_inner/layout_inner_1920.css'
        'assets/css/blue/responsive/dialog/dialog_1920.css'
        'assets/css/blue/responsive/gallery/gallery_1920.css'
        'assets/css/blue/selectric.css'
        'assets/css/blue/responsive/map/map_1920.css'
        'assets/css/blue/jquery.qtip.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endstylesheets %}
        {% endblock %}#}

            {% stylesheets filter='yui_css' filter='cssrewrite' output='assets/css/blue/responsive/minified/layout_inner_min.css'
                'bundles/airsimsocialnetwork/css/blue/fonts.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/common/common_1920.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/forms/forms_1920.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/tabs/tabs_1920.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/layout_inner/layout_inner_1920.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/dialog/dialog_1920.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/gallery/gallery_1920.css'
                'bundles/airsimsocialnetwork/css/blue/selectric.css'
                'bundles/airsimsocialnetwork/css/blue/responsive/map/map_1920.css'
                'bundles/airsimsocialnetwork/css/blue/jquery.qtip.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
            {% endstylesheets %}
        {% endblock %}

        {% block pageStylesheets %}
        {% endblock pageStylesheets %}
        {# End Of Stylesheets #}

        {# JavaScript Global Variables #}
        {# End Of JavaScript Global Variables #}

    </head>
    <body>
        <div class = "page_cover" id = "page_cover">
            <div class = "loading_notification">
                <div class = "loading_message">
                    Loading ... Please, wait.
                </div>
            </div>
        </div>
        <div class = "wrapper">
            {% if userPrivileges.isLoggedIn %}
            <input type = "hidden" id = "logged_in_user_id" value = "{{ app.session.get('sessionData')['userInfo']['id'] }}"/>
            {% endif %}
            <header class = "header">
                <div class = "header_content">
                    <div class = "logo">
                        <div class = "logo_image"></div>
                        <div class = "logo_text">AIRSIM</div>
                    </div>
                    {% if userPrivileges.isLoggedIn %}
                    <div class = "top_nav">
                        <div class = "user_top_data">
                            {% if app.session.get('sessionData')['userInfo']['webPic'] %}
                                <img class = "user_ava" src = "{{ ('public_files/user_'~app.session.get('sessionData')['userInfo']['id']~
                                    '/albums/profile_pics/'~app.session.get('sessionData')['userInfo']['webPic']) | apply_filter('avatar') }}"/>
                            {% else %}
                                <img class = "user_ava" src = "{{ ('public_files/app_default/no_avatar_male.png') | apply_filter('avatar') }}"/>
                            {% endif %}
                            <div class = "logged">
                                You are logged in as<br/>
                                    <span class = "user">
                                        {{ app.session.get('sessionData')['userInfo']['firstName'] }}
                                        {{ app.session.get('sessionData')['userInfo']['lastName'] }}
                                    </span>
                            </div>
                        </div>
                        <ul class = "top_nav_menu">
                            <li><a href = "./../user/">Home page</a></li>
                            <li><a href = "./../contacts/all_friends">Friends<span class = "notification_bubble top_menu">+2</span></a></li>
                            <li><a href = "./../chat/available_chats">Messages<span class = "notification_bubble top_menu">+100</span></a></li>
                            <li><a id = "log_out">Log out</a></li>
                        </ul>
                    </div>
                    <div class = "search_block">
                        <input type = "text" placeholder = "Search..."/>
                        <select id = "search_by_group">
                            <option value = "0">Person</option>
                            <option value = "1">Place</option>
                            <option value = "2">Document</option>
                        </select>
                        <input type = "button" value = "Search"/>
                    </div>
                    {% endif %}
                </div>
            </header>
            <section class = "content inner" id = "content_inner">
                <div class = "content_left">
                    {% if userPrivileges.isLoggedIn %}
                    <nav class = "menu">
                        <ul>
                            <li>
                                <a href = "./../user/{{ app.session.get('sessionData')['userInfo']['username'] }}">
                                    <span class = "menu_icon home"></span>
                                    <span>Homepage</span>
                                </a>
                            </li>
                            <li>
                                <a href = "./../contacts/friends">
                                    <span class = "menu_icon friends"></span>
                                    <span>Friends</span>
                                    <span class = "notification_bubble">+2</span>
                                </a>
                            </li>
                            <li>
                                <a href = "./../chat/available_chats">
                                    <span class = "menu_icon messages"></span>
                                    <span>Messages</span>
                                    <span class = "notification_bubble">+100</span>
                                </a>
                            </li>
                            <li>
                                <a href = "./../photo_albums">
                                    <span class = "menu_icon photos"></span>
                                    <span>Photos</span>
                                </a>
                            </li>
                            <li>
                                <a href = "" id = "map_link">
                                    <span class = "menu_icon map"></span>
                                    <span>Map</span>
                                </a>
                            </li>
                            <li>
                                <span class = "menu_icon news"></span>
                                <span>News</span>
                            </li>
                            <li>
                                <a href = "./../options/private">
                                    <span class = "menu_icon options"></span>
                                    <span>Options</span>
                                </a>
                            </li>
                            <li>
                                <span class = "menu_icon advanced"></span>
                                <span>Advanced</span>
                            </li>
                            <li>
                                <span class = "menu_icon safe"></span>
                                <span>Safe</span>
                            </li>
                            <li>
                                <span class = "menu_icon favorites"></span>
                                <span>Favorites</span>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <div class = "content_right">
                    {# Unique Page Content #}
                    {% block pageContent %}
                    {% endblock pageContent %}
                    {# End Of Unique Page Content #}
                </div>

                {# Notification Box #}
                <div class = "notifications_wrapper">
                    <audio controls id = "notification_sound">
                        <source src = "{{ asset('assets/sounds/beep-24.mp3') }}">
                    </audio>
                    <li class = "notification_box hidden" id = "notification_box_template">
                        <div class = "notification_header">
                            <span class = "notification_icon"></span>
                            <span class = "notification_header_text">Notification System!</span>
                            <input type = "button" class = "notification_close"/>
                        </div>
                        <div class = "notification_content">
                            <div class = "notification_picture_holder">
                                <img src = "{{ asset('public_files/app_default/no_avatar_male.png') }}" class = "sender_pic"/>
                            </div>
                            <div class = "notification_text">
                                <div class = "notification_info">
                                </div>
                                <div class = "notification_message">
                                </div>
                                <div class = "clear"></div>
                            </div>
                        </div>
                        <div class = "clear"></div>
                    </li>
                    <ul></ul>
                </div>
                {# End Of Notification Box #}

                <!-- ********** Dialog Windows ********** -->

                <!-- Gallery -->
                <div id = "gallery" class = "dialog scale">
                    <div class = "dialog_title">Photo</div>
                    <div id = "dialog_close" class = "dialog_close">x</div>
                    <span id = "dialog_arrow" class = "dialog_close_tooltip">
                        Press esc to exit
                        <span id = "dialog_arrow" class = "dialog_arrow"></span>
                    </span>
                    <div class = "dialog_content">
                        <div class = "photo_container">
                            <img src = "" class = "photo_to_show"/>
                            <div class = "previous_photo">
                                <input type = "hidden" id = "previous_photo_id" value = "" />
                            </div>
                            <div class = "next_photo">
                                <input type = "hidden" id = "next_photo_id" value = "" />
                            </div>
                            <div class = "photo_description">Social graph</div>
                            <div class = "description_button">Show description</div>
                        </div>
                        <div class = "photo_info_wrapper">
                            <span class = "photo_block_title">Photo Info:</span><br/><br/>
                            <div class = "photo_info">
                                <div class = "photo_info_line">
                                    <div class = "photo_info_cell info_title album_title">Album:</div>
                                    <div class = "photo_info_cell" id = "album_title"></div>
                                    <div class = "photo_info_cell info_title date_added_title">Date added:</div>
                                    <div class = "photo_info_cell" id = "photo_date_added"></div>
                                </div>
                                <div class = "photo_info_line">
                                    <div class = "photo_info_cell info_title photo_title">Title:</div>
                                    <div class = "photo_info_cell" id = "photo_title"></div>
                                    <div class = "photo_info_cell info_title location_title">Location:</div>
                                    <div class = "photo_info_cell" id = "photo_location"></div>
                                </div>
                                <input type = "hidden" id = "photo_id" value = ""/>
                            </div>
                            <div class = "photo_rating">
                                <div class = "photo_rate">
                                    <input type = "text" value = "0" class = "rate">
                                </div>
                                <div class = "photo_rated">
                                    <input type = "text" value = "0" class = "rating">
                                </div>
                            </div>
                        </div><div class = "clear"></div>
                        <div class = "insert_comment">
                            <span class = "photo_block_title">Your Comment:</span><br/><br/>
                            <textarea placeholder = "Thoughts?"></textarea>
                            <input type = "button" class = "comment_photo_button right" id = "comment_photo_button" value = "Comment photo"/>
                            <div id = "test_div" class = "attach_files_wrapper"></div>
                        </div><div class = "clear"></div>
                        <div class = "photo_comments_wrapper hidden" id = "gallery_comments_scroller">
                            <span class = "photo_block_title">Comments:</span><br/><br/>
                            <div class = "photo_comments_holder">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Of Gallery -->

                <!-- Map -->
                <div id = "map" class = "dialog scale">
                    <div class = "dialog_title">Map</div>
                    <div id = "dialog_close" class = "dialog_close">x</div>
                    <span id = "dialog_arrow" class = "dialog_close_tooltip">
                        Press esc to exit
                        <span id = "dialog_arrow" class = "dialog_arrow"></span>
                    </span>
                    <div class = "dialog_content">
                        <div class = "map_left_panel">
                            <div class = "map_top_panel">
                                <div class = "add_marker">
                                    <form id = "add_marker_form">
                                        <label for = "location">Your location: <span class = "required">*</span></label>
                                        <input type = "text" class = "mark_location" name = "location" placeholder = "Enter country, city or address"/><br/>

                                        <label for = "comment">Comment: </label>
                                        <input type = "text" class = "mark_location" name = "comment" placeholder = "Your thoughts?"/><br/>

                                        <input type = "button" class = "mark_location" id = "mark_location" value = "Mark Your location" />
                                    </form>
                                </div>
                                <div class = "map_configuration">
                                    <div class = "config_line">
                                        <label for = "show_on_map" class = "selectric_label">Show on map:</label>
                                        <select id = "show_on_map">
                                            <option value = "1">All contacts</option>
                                            <option value = "2">My contacts</option>
                                        </select>
                                    </div>

                                    <div class = "config_line">
                                        <label for = "stay_on_map" class = "selectric_label">Stay on map:</label>
                                        <select id = "stay_on_map">
                                            <option value = "1">5 minutes</option>
                                            <option value = "2">15 minutes</option>
                                            <option value = "3">30 minutes</option>
                                            <option value = "4">1 hour</option>
                                            <option value = "5">3 hours</option>
                                            <option value = "6">1 day</option>
                                            <option value = "7">1 week</option>
                                        </select>
                                    </div><div class = "clear"></div>

                                    <div class = "config_line">
                                        <label for = "visible_to" class = "selectric_label">Visible to:</label>
                                        <select id = "visible_to">
                                            <option value = "1">All contacts</option>
                                            <option value = "2">My contacts</option>
                                        </select>
                                    </div>

                                    <div class = "config_line">
                                        <label for = "select_maker" class = "selectric_label">Your marker:</label>
                                        <select id = "select_maker">
                                            <option value = "1">Smile</option>
                                            <option value = "2">Blue marker</option>
                                            <option value = "3">Party</option>
                                            <option value = "4">Rest</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class = "clear"></div>
                            <div class = "map_box" id = "map_box">
                                <div class = "map_container" id = "map_container">
                                </div>
                            </div>
                        </div>
                        <div class = "map_right_panel">
                            <nav class = "tabs_nav map_nav">
                                <ul>
                                    <li class = "active">Map chat</li>
                                    <li>Friends on map</li>
                                </ul>
                                <div class = "clear"></div>
                            </nav>
                            <div class = "map_chat">
                                <textarea placeholder = "Comment" id = "map_chat_message_text"></textarea>
                                <input type = "button" class = "right" value = "Comment"/>
                                {% for i in 1..15 %}
                                    <div class = "user_map_message">
                                        <div class = "message_text">
                                            <div class = "author">Incognito</div>
                                            <div class = "text">Here is the area for message text ...</div>
                                            <div class = "date_sent">21.04.2014 12:15</div>
                                        </div>
                                        <div class = "author_web_pic">
                                            <img class = "user_ava" src = "{{ asset('public_files/app_default/no_avatar_male.png') }}"/>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class = "map_friends_list hidden"></div>
                        </div>
                        <div class = "clear"></div>
                    </div>
                </div>
                <div class = "bubble_content hidden" id = "bubble_template">
                    <div class = "web_profile_pic">
                        <img src = "{{ asset('public_files/app_default/no_avatar_male.png') }}"/>
                    </div>
                    <div class = "text">
                        <div class = "username">Incognito</div>
                        <div class = "comment">
                            Some comment about impressions ... Where You are,
                            what are You thinking of? Are you angry, happy. Share
                            with Your friends!
                        </div>
                    </div>
                    <div class = "clear"></div>
                </div>
                <!-- End of Map -->

                <!-- Write Message Dialog -->
                {% if app.session.get('sessionData') is not null %}
                    <div id = "write_message_dialog" class = "dialog scale">
                        <div class = "dialog_title">Write Message</div>
                        <div id = "dialog_close" class = "dialog_close">x</div>
                        <span id = "dialog_close_tooltip" class = "dialog_close_tooltip">
                            Press Esc to exit
                            <span id = "dialog_arrow" class = "dialog_arrow"></span>
                        </span>
                        <div class = "dialog_content">
                            <div class = "write_message_left_block">
                                <div class = "user_info">
                                {% if userData is defined %}
                                    {{ userData.firstName }} {{ userData.lastName }} / {{ userData.phoneNumber }}
                                {% endif %}
                                </div>
                                <div class = "message_wrapper">
                                    <textarea placeholder = "What do You want to say?"></textarea>
                                    <input type = "button" value = "Send" class = "right send_message_button" style = "margin-right: 0"/>
                                </div>
                            </div>
                            <div class = "write_message_right_block">
                                <div class = "profile_pics">
                                {% if userData is defined %}
                                    {% if userData.webProfilePic %}
                                        <img src = "{{ asset('public_files/user_'~userData.userId~'/albums/profile_pics/'~userData.webProfilePic) }}"/>
                                    {% else %}
                                        <img src = "{{ asset('public_files/app_default/no_avatar_male.png') }}"/>
                                    {% endif %}
                                {% endif %}
                                </div>
                                <div class = "user_menu">
                                {% if userPrivileges is defined %}
                                    {% if not userPrivileges.isFriend %}
                                        {% if userPrivileges.addContactPrivilege %}
                                            <input type = "button" value = "Add to friends" class = "add_contact_button"/><br/>
                                        {% endif %}
                                    {% endif %}
                                    {% if userPrivileges.seePhotosPrivilege %}
                                        <input type = "button" value = "User photos" class = "user_photos_button"/><br/>
                                        <input type = "button" value = "Common photos" class = "common_album_button"/><br/>
                                    {% endif %}
                                    {% if app.session.get('sessionData')['userInfo']['id'] != userPrivileges.contactId %}
                                        <input type = "button" value = "Add to favorites" class = "add_to_favorites_button"/><br/>
                                    {% endif %}
                                    {% if not userPrivileges.isBlocked and app.session.get('sessionData')['userInfo']['id'] != userPrivileges.contactId %}
                                        <input type = "button" value = "Block user" class = "block_user_button"/>
                                    {% elseif userPrivileges.isBlocked and app.session.get('sessionData')['userInfo']['id'] != userPrivileges.contactId %}
                                        <input type = "button" value = "Unblock user" class = "block_user_button unblock_user_button"/>
                                    {% endif %}
                                {% else %}
                                    <input type = "button" value = "Add to friends" class = "add_contact_button"/><br/>
                                    <input type = "button" value = "User photos" class = "user_photos_button"/><br/>
                                    <input type = "button" value = "Common photos" class = "common_album_button"/><br/>
                                    <input type = "button" value = "Add to favorites" class = "add_to_favorites_button"/><br/>
                                    <input type = "button" value = "Block user" class = "block_user_button"/>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- End Of Write Message Dialog -->

                <!-- Please wait notification -->
                <!-- End of please wait notification -->

                <!-- Error Dialog -->
                <div id = "error_message_dialog" class = "error_message_dialog">
                    <div class = "error_message_dialog_title">
                        <span id = "error_message_dialog_title_text">Error</span>
                        <div id = "error_message_dialog_close" class = "error_message_dialog_close">x</div>
                    </div>
                            <span id = "error_message_dialog_close_tooltip" class = "error_message_dialog_close_tooltip">
                                Press Esc to exit
                                <span id = "error_message_dialog_arrow" class = "error_message_dialog_arrow"></span>
                            </span>
                    <div class = "error_message_dialog_content" id = "error_message_dialog_content">
                        Response text
                    </div>
                </div>
                <!-- End Of Error Dialog -->

                <div class = "dialog_background" id = "dialog_background"></div>
                <div class = "editable_content_background" id = "editable_content_background"></div>
                <!-- ********** End Of Dialog Windows ********** -->

                <div class = "clear"></div>
            </section>
            <div class = "push"></div>
        </div>
        <footer class = "footer">
            <div class = "footer_table">
                <div class = "footer_content">
                    <div class = "footer_left_block">
                        <div class = "footer_block_content">
                            AirSim © 2013<br/>
                            <a href = "">Terms of use</a>
                        </div>
                    </div>
                    <div class = "footer_middle_block">
                        <div class = "footer_block_content">
                            Mustamäe tee 181-120<br/>
                            AirSim OÜ<br/>
                            19129 Tallinn (<a href = "">Map</a>)
                        </div>
                    </div>
                    <div class = "footer_right_block">
                        <div class = "footer_block_content">
                            E-post: upcooper@gmail.com<br/>
                            Phone number: +372 57450322<br/>
                            Fax: +372 9999 999<br/>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {# JavaScripts #}
        {% block globalJavaScripts %}
        {{ require_js_initialize() }}
            <script type="text/javascript">require(['blue/inner'])</script>
        {% endblock %}

        {% block pageJavaScripts %}
        {% endblock pageJavaScripts %}
        {# End Of JavaScripts #}

    </body>
</html>
{% endspaceless %}