{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='assets/css/blue/responsive/minified/contacts_min.css'
        'bundles/airsimsocialnetwork/css/blue/responsive/contacts/contacts_1920.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}

{% endblock pageStylesheets %}

{% block pageJavaScripts %}
    <script type="text/javascript">require(['blue/contacts'])</script>
{% endblock pageJavaScripts %}

{% block pageContent %}
<div class = "contacts_wrapper">
    <nav id = "contacts_tabs" class = "tabs_nav contacts_nav">
        <ul>
            <li class = "active" tab = "friends_tab">Friends</li>
            <li tab = "contacts_tab">Add contact</li>
            <li tab = "updates_tab">
                Updates
                <span class = "notification_bubble tab">+3</span>
            </li>
        </ul>
        <div class = "clear"></div>
    </nav>
    <div id = "contacts_tabs_content" class = "tabs_content">
        <div class = "friends_content tab" id = "friends_tab">
            <div class = "align_middle">
                <div class = "friends_list">
                    <div class = "right">
                        <input type = "text" id = "search_friend_text" placeholder = "Name, family"/><input type = "button" id = "search_friend" value = "Search"/>
                    </div><div class = "clear"></div>
                    <div class = "ajax_wait hidden" id = "loading_friends">Please wait. Loading contacts ...</div>
                    <div class = "clear"></div>
                    <div class = "friend hidden" id = "friend_template">
                        <input type = "hidden" class = "friend_id" value = "">
                        <table>
                            <tbody>
                            <tr>
                                <td class = "center">
                                    <div class = "name"></div>
                                    <div class = "phone_number"></div>
                                </td>
                                <td>
                                    <img src = ""/><br/>
                                </td>
                                <td>
                                    <input type = "button" class = "contact_menu write_message" value = "Write message"/><br/>
                                    <input type = "button" class = "contact_menu note" value = "Note"/><br/>
                                    <input type = "button" class = "contact_menu history_of_changes" value = "Changes"/>
                                </td>
                                <td>
                                    <input type = "checkbox" unchecked/>
                                    <label><span></span></label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class = "friends_block_wrap">
                        {% for friend in userFriends %}
                            <div class = "friend">
                                <input type = "hidden" class = "friend_id" value = "{{ friend.userId }}">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class = "center">
                                            <div class = "name">{{ friend.firstName }} {{ friend.lastName }}</div>
                                            <div class = "phone_number">{{ friend.phoneNumber }}</div>
                                        </td>
                                        <td>
                                            {% if friend.webProfilePic %}
                                                <img src = "{{ ('public_files/user_'~friend.userId~'/albums/profile_pics/'~friend.webProfilePic) | imagine_filter('avatar') }}"/><br/>
                                            {% else %}
                                                <img src = "{{ ('public_files/app_default/no_avatar_male.png') | imagine_filter('avatar') }}"/><br/>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input type = "button" class = "contact_menu write_message" value = "Write message"/><br/>
                                            <input type = "button" class = "contact_menu note" value = "Note"/><br/>
                                            <input type = "button" class = "contact_menu history_of_changes" value = "Changes"/>
                                        </td>
                                        <td>
                                            <input type = "checkbox" id = "f_id_{{ friend.userId }}" unchecked/>
                                            <label for = "f_id_{{ friend.userId }}"><span></span></label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class = "search_criterias">
                    <div class = "category">Gender:</div><br/>
                    <input type = "radio" name = "gender_f" id = "male_f" value = "M"/>
                    <label for = "male_f"><span></span>Male</label><br/>

                    <input type = "radio" name = "gender_f" id = "female_f" value = "F"/>
                    <label for = "female_f"><span></span>Female</label><br/>

                    <input type = "radio" name = "gender_f" id = "undefined_f" value = "U"/>
                    <label for = "undefined_f"><span></span>Undefined</label><br/>

                    <input type = "radio" name = "gender_f" id = "any_f" value = "" checked/>
                    <label for = "any_f"><span></span>Any</label><br/><br/>

                    <div class = "category">Contact data:</div><br/>
                    <label for = "phone_number_f">Phone number:</label>
                    <input type = "text" name = "phone_number_f" id = "phone_number_f"/><br/>
                    <label for = "country_f">Country:</label>
                    <select name = "country_f" id = "country_f">
                        <option value = "">Select country ...</option>
                        <option value = "Estonia">Estonia</option>
                    </select><br/>
                    <label for = "city_f">City:</label>
                    <select name = "city_f" id = "city_f">
                        <option value = "">Select city ...</option>
                        <option value = "Tallinn">Tallinn</option>
                    </select><br/><br/>

                    <div class = "category">Age:</div><br/>
                    <div class = "right">
                        <label for = "age_from_f" class = "age_label">From</label>
                        <input type = "text" class = "age_input" name = "age_from_f" id = "age_from_f"/>
                        <label for = "age_to_f" class = "age_label">To</label>
                        <input type = "text" class = "age_input" name = "age_to_f" id = "age_to_f"/>
                    </div>
                </div>
                <div class = "friends_stats">
                    <div class = "category">Statistics:</div>
                    Filter contacts:
                    <select>
                        <option value = "0">All contacts</option>
                        <option value = "1">Contacts online</option>
                        <option value = "2">General</option>
                        <option value = "3">Friends</option>
                        <option value = "4">Family</option>
                        <option value = "5">Work</option>
                        <option value = "6">Subscribed to me</option>
                        <option value = "7">I subscribed</option>
                        <option value = "8">Last added</option>
                    </select><br/><br/>

                    <div class = "group">Total contacts: 10</div>
                    <div class = "group">Contacts online: 10</div>
                    <div class = "group">Contacts offline: 10</div><br/>
                    <div class = "group">Subscribed to me: 10</div>
                    <div class = "group">My subscription: 10</div><br/>

                    Groups<br/>
                    General: 10<br/>
                    Friends: 10<br/>
                    Family: 10<br/>
                    Work: 10<br/>
                </div><div class = "clear"></div>
            </div>
        </div>
        <div class = "contacts_content tab hidden" id = "contacts_tab">
            <div class = "align_middle">
                <div class = "friends_list">
                    <div class = "right">
                        <input type = "text" id = "search_contact_text" placeholder = "Name, family"/><input type = "button" id = "search_contact" value = "Search"/>
                    </div><div class = "clear"></div>
                    <div class = "ajax_wait hidden" id = "loading_contacts">Please wait. Loading contacts ...</div>
                    <div class = "clear"></div>
                    <div class = "contact hidden" id = "contact_template">
                        <input type = "hidden" class = "contact_id" value = "">
                        <table>
                            <tbody>
                            <tr>
                                <td class = "center">
                                    <div class = "name"></div>
                                    <div class = "phone_number"></div>
                                </td>
                                <td>
                                    <img src = ""/><br/>
                                </td>
                                <td>
                                    <input type = "button" class = "contact_menu write_message" value = "Write message"/><br/>
                                    <input type = "button" class = "contact_menu add_to_friends" value = "Add to friends"/><br/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class = "contacts_block_wrap">
                    </div>
                </div>
                <div class = "search_criterias">
                    <div class = "category">Gender:</div><br/>
                    <input type = "radio" name = "gender_c" id = "male_c" value = "M"/>
                    <label for = "male_c"><span></span>Male</label><br/>

                    <input type = "radio" name = "gender_c" id = "female_c" value = "F"/>
                    <label for = "female_c"><span></span>Female</label><br/>

                    <input type = "radio" name = "gender_c" id = "undefined_c" value = "U"/>
                    <label for = "undefined_c"><span></span>Undefined</label><br/>

                    <input type = "radio" name = "gender_c" id = "any_c" value = "" checked/>
                    <label for = "any_c"><span></span>Any</label><br/><br/>

                    <div class = "category">Contact data:</div><br/>
                    <label for = "phone_number_c">Phone number:</label>
                    <input type = "text" name = "phone_number_c" id = "phone_number_c"/><br/>
                    <label for = "country_c">Country:</label>
                    <select name = "country_c" id = "country_c">
                        <option value = "">Select country ...</option>
                        <option value = "Estonia">Estonia</option>
                    </select><br/>
                    <label for = "city_c">City:</label>
                    <select name = "city_c" id = "city_c">
                        <option value = "">Select city ...</option>
                        <option value = "Tallinn">Tallinn</option>
                    </select><br/><br/>

                    <div class = "category">Age:</div><br/>
                    <div class = "right">
                        <label for = "age_from_c" class = "age_label">From</label>
                        <input type = "text" class = "age_input" name = "age_from_c" id = "age_from_c"/>
                        <label for = "age_to_c" class = "age_label">To</label>
                        <input type = "text" class = "age_input" name = "age_to_c" id = "age_to_c"/>
                    </div>
                </div>
            </div>
            <div class = "clear"></div>
        </div>
        <div class = "updates_content tab hidden" id = "updates_tab">
            <div class = "align_middle">
                <div class = "updates_list">
                    <div class = "updates_block_wrap">
                        {% if userUpdates.incomingFriendRequestsUpdates | length > 0 %}
                            <div class="category">Incoming Friend Requests:</div>
                        {% endif %}
                        {% for incomingFriendRequest in userUpdates.incomingFriendRequestsUpdates %}
                            <div class="update">
                                <input class="update_id" value="{{ incomingFriendRequest.userId }}" type="hidden">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="center">
                                            <div class="name">{{ incomingFriendRequest.name }} {{ incomingFriendRequest.family }}</div>
                                            <div class="phone_number">{{ incomingFriendRequest.phoneNumber }}</div>
                                        </td>
                                        <td>
                                            {% if incomingFriendRequest.webProfilePic %}
                                                <img src = "{{ ('public_files/user_'~incomingFriendRequest.userId~'/albums/profile_pics/'~incomingFriendRequest.webProfilePic) | imagine_filter('avatar') }}"/><br/>
                                            {% else %}
                                                <img src = "{{ ('public_files/app_default/no_avatar_male.png') | imagine_filter('avatar') }}"/><br/>
                                            {% endif %}
                                        </td>
                                        <td class="checkbox_td">
                                            <input class="contact_menu accept_contact" value="Accept" type="button">
                                            <input class="contact_menu decline_contact" value="Decline" type="button">
                                            <input class="contact_menu write_message" value="Write message" type="button"><br/>
                                            <input id="u_id_{{ incomingFriendRequest.userId }}" unchecked="" type="checkbox">
                                            <label for="u_id_{{ incomingFriendRequest.userId }}"><span></span></label>
                                            Synchronize later manually
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                        {% if userUpdates.outgoingFriendRequestsUpdates %}
                            <div class="category">Accepted Friend Requests:</div>
                        {% endif %}
                        {% for outgoingFriendRequest in userUpdates.outgoingFriendRequestsUpdates %}
                            <div class="update">
                                <input class="update_id" value="{{ outgoingFriendRequest.userId }}" type="hidden">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="center">
                                                <div class="name">{{ outgoingFriendRequest.name }} {{ outgoingFriendRequest.family }}</div>
                                                <div class="phone_number">{{ outgoingFriendRequest.phoneNumber }}</div>
                                            </td>
                                            <td>
                                                {% if outgoingFriendRequest.webProfilePic %}
                                                    <img src = "{{ ('public_files/user_'~outgoingFriendRequest.userId~'/albums/profile_pics/'~outgoingFriendRequest.webProfilePic) | imagine_filter('avatar') }}"/><br/>
                                                {% else %}
                                                    <img src = "{{ ('public_files/app_default/no_avatar_male.png') | imagine_filter('avatar') }}"/><br/>
                                                {% endif %}
                                            </td>
                                            <td class="checkbox_td">
                                                <input class="contact_menu write_message" value="Write message" type="button"><br>
                                                <input id="u_id_{{ outgoingFriendRequest.userId }}" unchecked="" type="checkbox">
                                                <label for="u_id_{{ outgoingFriendRequest.userId }}"><span></span></label>
                                                Synchronize later manually
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock pageContent %}